$navbar-height: 60px;
$font-family: 'Poppins',
sans-serif;

.main-layout {
    min-height: calc(100vh - $navbar-height);
}


//colors

$background-color: #171638;
$primary-color: #6463bb;
$primary-color-50: #6463bb71;
$secondary-color: #5f5deb;
$accent-color: #00A8CC;
$accent-color-50: #00a7cc71;
$green-color: #46ff83;
$green-color-50: #46ff8477;
$light-color: #f3f4ff;
$content-color: #f3f4ff;
$dark-color: rgb(12, 12, 27);
$dark-color-light: #3d6188;
$gray-color: #ebebeb;
$gray-color2: #f6efff;
$gray-color3: #858597;
$text-color: #ebecec;
$red-color: rgb(255, 83, 83);
$primary-gradient: linear-gradient(140deg, #6463bb 33%, #5f5deb 50%, #5856a7 75%);
$secondary-gradient: linear-gradient(140deg, #163168 33%, #274685 50%, #2c4c8d 75%);
$text-shadow1:1px 1px 0px rgba(0, 0, 0, 0.5);

.dark {
    background: var($background-color);
    color: var($text-color);

}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $text-color;
    opacity: 0.7;
    /* Firefox */
}




//color class for each of these variables on up
.color-background-color {
    color: $background-color;
}

.color-primary-color {
    color: $primary-color;
}

.color-secondary-color {
    color: $secondary-color;
}


.color-accent-color {
    color: $accent-color;
}

.color-light-color {
    color: $light-color;
}

.color-content-color {
    color: $content-color;
}

.color-dark-color {
    color: $dark-color;
}

.color-dark-color-light {
    color: $dark-color-light;
}

.color-gray-color {
    color: $gray-color;
}

.color-gray-color2 {
    color: $gray-color2;
}

.color-gray-color3 {
    color: $gray-color3;
}

.color-text-color {
    color: $text-color;
}

.color-red-color {
    color: $red-color;
}

//background color class for each of these variables on up
.bg-background-color {
    background-color: $background-color;
}

.bg-primary-color {
    background-color: $primary-color;
}

.bg-secondary-color {
    background-color: $secondary-color;
}

.bg-accent-color {
    background-color: $accent-color;
}

.bg-light-color {
    background-color: $light-color;
}

.bg-content-color {
    background-color: $content-color;
}

.bg-dark-color {
    background-color: $dark-color;
}

.bg-dark-color-light {
    background-color: $dark-color-light;
}

.bg-gray-color {
    background-color: $gray-color;
}

.bg-gray-color2 {
    background-color: $gray-color2;
}

.bg-gray-color3 {
    background-color: $gray-color3;
}


.bg-text-color {
    background-color: $text-color;
}

.bg-red-color {
    background-color: $red-color;
}

.bg-image-none {
    background-image: unset;
}

.bg-primary-gradient {
    background-image: $primary-gradient;
}